.countdown {
  color: $whiteTxt;
  font-family: $sansPro;
  font-weight: $regular;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  &__header {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  &__days {
    background-color: transparentize($color: $turquoise, $amount: 0.2);
  }
  &__hours {
    background-color: transparentize($color: $turquoise, $amount: 0.4);
  }
  &__minutes {
    background-color: transparentize($color: $turquoise, $amount: 0.6);
  }
  &__seconds {
    background-color: transparentize($color: $turquoise, $amount: 0.8);
  }
  &__para {
    font-size: 1rem;
    font-weight: $semiBold;
    margin-top: -1.25rem;
  }
  &__time {
    font-family: $poppins;
    font-weight: $bold;
  }
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle:not(:last-child) {
  margin-bottom: -30px;
}
