.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  color: $whiteTxt;
  text-align: center;
  @include breakpoint-up(lg) {
    margin-top: 10rem;
  }
  &__title {
    margin-bottom: 3rem;
    font-size: 5rem;
    line-height: 1;
    @include breakpoint-up(xl) {
      font-size: 6rem;
    }
  }
  &__sub__title {
    font-family: $alegreya;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    @include breakpoint-up(xl) {
      font-size: 4rem;
    }
  }
  &__span {
    background: linear-gradient(to right, #bb86fc, #70efde);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
