.information {
  color: $whiteTxt;
  margin-top: 10rem;
  margin-bottom: 5rem;
  &__para {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 720px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.information-header-styles {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  @include breakpoint-up(xl) {
    font-size: 4rem;
  }
}

.summary {
  max-width: 720px;
  padding: 1rem;
  margin: 0 auto;
  background: transparentize($color: $white, $amount: 0.8);
  border-radius: $borderRadius;
  margin-bottom: 1rem;
  cursor: pointer;
  outline: none;
  font-family: $openSans;
  font-weight: $semiBold;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  &:hover {
    background: transparentize($color: $white, $amount: 0.6);
  }
  &::marker {
    color: $purple;
  }
  &::-webkit-details-marker {
    color: $purple;
  }
  &__pad__location ul {
    list-style: none;
    font-family: $openSans;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
}

.summary__pad__name,
.summary__pad__location,
.summary_pad__details {
  margin: 0 auto;
  max-width: 720px;
  padding-bottom: 1rem;
}

details[open] .summary ~ * {
  animation: sweep 0.3s ease-in-out;
}
