.nav {
  padding-top: 1.5rem;
  .container-flex {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  &__logo a {
    color: $whiteTxt;
    font-size: 2.5rem;
    font-weight: $bold;
    font-family: $alegreya;
    text-decoration: none;
  }
  &__hamburger__container {
    cursor: pointer;
  }
  &__line {
    background-color: $purple;
    height: 6px;
    width: 32px;
    margin-block: 5px;
    border-radius: $borderRadius;
    transition: all 300ms ease-in-out;
    transform-origin: center left;
  }
  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: transparentize($color: $white, $amount: 0.8);
    padding: 1.625rem;
    border-radius: $borderRadius;
  }
  &__li {
    margin-bottom: 1.5rem;
  }
  &__position {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    text-align: center;
    animation: fadeIn 300ms ease-in-out forwards;
  }
}

#active {
  color: $purple;
}

// .nav__li:not(:last-child) {
//   margin-right: 5rem;
// }

.nav__ancer {
  color: $whiteTxt;
  text-decoration: none;
  font-family: $openSans;
  font-weight: $semiBold;
  padding: 0.625rem;
  font-size: 1.5rem;
}

.open {
  > .nav__line:first-child {
    transform: rotate(45deg);
  }
  > .nav__line:nth-child(2) {
    opacity: 0;
  }
  > .nav__line:last-child {
    transform: rotate(-45deg);
  }
}

.overlay {
  position: fixed;
  top: 5.25rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($color: $backgroundColor, $amount: 0.02);
}
