// colors
$backgroundColor: #121212;
$purple: #bb86fc;
$whiteTxt: #ffffff;
$rgbaWhite: 255, 255, 255;
$blackTxtColor: #000000;
$turquoise: #00bcd4;
$white: #ffffff;

// fonts
$alegreya: 'Alegreya Sans SC', sans-serif;
$sansPro: 'Source Sans Pro', sans-serif;
$openSans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

$regular: 400;
$alegreyaSemiBold: 500;
$semiBold: 600;
$bold: 700;

$borderRadius: 0.3125rem;
